@font-face {
  font-family: 'HelveticaDisplayBd';
  src: url('/fonts/displaybd.woff2') format('woff2'),
       url('/fonts/displaybd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}